body { color: white; background-color: rgb(53, 56, 67); padding: 0; margin: 0; }
button { all: unset; }

pre {
  background-color: rgb(35, 43, 43);
  padding: 8px;
  border-radius: 8px;
  height: 400px;
  overflow: auto;
  margin: 10px;
}

h2 { text-align: center; }

.button {
  height: 34px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 6px;
  border-radius: 8px;
  background-color: rgb(35, 43, 43);
  text-align: center;
}